In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("Data/cleanprep.csv")
df

,2018-07-11 19:35:15.363270,b'tj',"b""Next two weeks prob v boring (climb up to 9k) unless there's a new good listing to flip that isn't absolute garbage\xe2\x80\xa6 https://t.co/ji4dWYaBXA""",0.007272727272727264,0.5909090909090909
0,2018-07-11 19:35:15.736769,b'Kool_Kheart',b'@Miss_rinola But you\xe2\x80\x99ve heard abo...,0.000000,0.000000
1,2018-07-11 19:35:15.744769,b'Gary Lang',b'Duplicate skilled traders automatically with...,0.625000,0.500000
2,2018-07-11 19:35:15.867339,b'Jobs in Fintech',b'Project Manager - Technical - FinTech - Cent...,0.000000,0.175000
3,2018-07-11 19:35:16.021448,b'ERC20',"b'Coinbase App Downloads Drop, Crypto Hype Fad...",0.333333,0.500000
4,2018-07-11 19:35:16.687237,b'Lake_Ocean_Pond',"b'If you don\xe2\x80\x99t understand Bitcoin, ...",0.000000,0.000000
...,...,...,...,...,...
1412995,2018-07-24 08:17:01.654579,b'duong dao',b'#BlockBuratino https://t.co/bdlyjnIqZC',0.000000,0.000000
1412996,2018-07-24 08:17:02.342093,b'Ali Mohd',b'Cointelegraph: #CT_index Provided by Cointel...,0.000000,0.000000
1412997,2018-07-24 08:17:02.951448,b'Gilles Cottyn',b'Congrats @Bitcoin for reaching $ 8k again \x...,0.000000,0.000000
1412998,2018-07-24 08:17:03.388879,b'Mr. Jackson \xe2\x98\xaf',b'BTC wants to breakout again this morning and...,0.200000,0.100000
1412999,2018-07-24 08:17:03.576424,b'Crypto Trader Pro',b'via \xe2\x86\x92 https://t.co/4sRUrToww3 BTC...,0.433333,0.733333

## Quick Data Cleaning

In [14]:
df.iloc[0, :] = df.columns
cols_to_add = ["DateTime", "Username", "Text", "Polarity", "Sensitivity"]
df.columns = cols_to_add

In [15]:
drop_str_b = ["Username", "Text"]
for col in drop_str_b:
    df[col] = df[col].map(lambda x: x[2:len(x) -1])
df

,DateTime,Username,Text,Polarity,Sensitivity
0,2018-07-11 19:35:15.363270,tj,Next two weeks prob v boring (climb up to 9k) ...,0.007272727272727264,0.5909090909090909
1,2018-07-11 19:35:15.744769,Gary Lang,Duplicate skilled traders automatically with B...,0.625,0.5
2,2018-07-11 19:35:15.867339,Jobs in Fintech,Project Manager - Technical - FinTech - Centra...,0.0,0.175
3,2018-07-11 19:35:16.021448,ERC20,"Coinbase App Downloads Drop, Crypto Hype Fadin...",0.333333,0.5
4,2018-07-11 19:35:16.687237,Lake_Ocean_Pond,"If you don\xe2\x80\x99t understand Bitcoin, yo...",0.0,0.0
...,...,...,...,...,...
1412995,2018-07-24 08:17:01.654579,duong dao,#BlockBuratino https://t.co/bdlyjnIqZC,0.0,0.0
1412996,2018-07-24 08:17:02.342093,Ali Mohd,Cointelegraph: #CT_index Provided by Cointeleg...,0.0,0.0
1412997,2018-07-24 08:17:02.951448,Gilles Cottyn,Congrats @Bitcoin for reaching $ 8k again \xf0...,0.0,0.0
1412998,2018-07-24 08:17:03.388879,Mr. Jackson \xe2\x98\xaf,BTC wants to breakout again this morning and s...,0.2,0.1
1412999,2018-07-24 08:17:03.576424,Crypto Trader Pro,via \xe2\x86\x92 https://t.co/4sRUrToww3 BTC S...,0.433333,0.733333

In [17]:
df["DateTime"] = pd.to_datetime(df["DateTime"])
df

,DateTime,Username,Text,Polarity,Sensitivity
0,2018-07-11 19:35:15.363270,tj,Next two weeks prob v boring (climb up to 9k) ...,0.007272727272727264,0.5909090909090909
1,2018-07-11 19:35:15.744769,Gary Lang,Duplicate skilled traders automatically with B...,0.625,0.5
2,2018-07-11 19:35:15.867339,Jobs in Fintech,Project Manager - Technical - FinTech - Centra...,0.0,0.175
3,2018-07-11 19:35:16.021448,ERC20,"Coinbase App Downloads Drop, Crypto Hype Fadin...",0.333333,0.5
4,2018-07-11 19:35:16.687237,Lake_Ocean_Pond,"If you don\xe2\x80\x99t understand Bitcoin, yo...",0.0,0.0
...,...,...,...,...,...
1412995,2018-07-24 08:17:01.654579,duong dao,#BlockBuratino https://t.co/bdlyjnIqZC,0.0,0.0
1412996,2018-07-24 08:17:02.342093,Ali Mohd,Cointelegraph: #CT_index Provided by Cointeleg...,0.0,0.0
1412997,2018-07-24 08:17:02.951448,Gilles Cottyn,Congrats @Bitcoin for reaching $ 8k again \xf0...,0.0,0.0
1412998,2018-07-24 08:17:03.388879,Mr. Jackson \xe2\x98\xaf,BTC wants to breakout again this morning and s...,0.2,0.1
1412999,2018-07-24 08:17:03.576424,Crypto Trader Pro,via \xe2\x86\x92 https://t.co/4sRUrToww3 BTC S...,0.433333,0.733333

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413000 entries, 0 to 1412999
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   DateTime     1413000 non-null  datetime64[ns]
 1   Username     1413000 non-null  object
 2   Text         1413000 non-null  object
 3   Polarity     1413000 non-null  object
 4   Sensitivity  1413000 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 53.9+ MB

In [19]:
df["Polarity"] = df["Polarity"].astype("float64")
df["Sensitivity"] = df["Sensitivity"].astype("float64")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413000 entries, 0 to 1412999
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   DateTime     1413000 non-null  datetime64[ns]
 1   Username     1413000 non-null  object
 2   Text         1413000 non-null  object
 3   Polarity     1413000 non-null  float64
 4   Sensitivity  1413000 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 53.9+ MB

In [21]:
df.isnull().sum()

DateTime       0
Username       0
Text           0
Polarity       0
Sensitivity    0
dtype: int64

In [23]:
from nltk.tokenize import word_tokenize